/* Created by: Jaden Plugowsky
* Created on: May 2023
* This file contains the CSS for index.html
*/

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

a {
  font-size: 30px;
  padding-left: 20px;
}

.mdl-layout__header-row {
  justify-content: center;
}

.mdl-content {
  font-size: 30px;
  line-height: 35px;
}

#body-page1 {
  background-color: rgb(95 189 95);
}

#body-page2 {
  background-color: lightgreen;
}

#mdl-layout-title-page1 {
  color: white;
  font-size: 50px;
}

#mdl-layout-title-page2 {
  color: black;
  font-size: 50px;
}

#right-image-page1 {
  height: auto;
  width: 800px;
  float: right;
  margin-right: -270px;
}

#right-image-page2 {
  height: auto;
  width: 600px;
  float: right;
  margin-right: -60px;
}

#mdl-layout-content-page1 {
  margin-left: 20px;
  color: white;
}

#mdl-layout-content-page2 {
  margin-left: 20px;
  color: black;
}

#page-content-answer-page1 {
  font-size: 25px;
}

#page-content-answer-page2 {
  font-size: 25px; /* Was 15px in the original code. */
}
